*{
margin: 0;
padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4d3ba;   
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius:1rem ;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;

}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding: 0.5rem;

}
.dropdown{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    margin-left: 0.5rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2rem;;
}
.select-container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 123, 255);
    align-items: center;
    width: 7rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 3px;
    gap: 3px;
}
.select-container select{
    font-size: 1rem;
    background-color: rgb(187, 187, 187);
    width: auto;
    padding: 1.5px;
    border-radius: 0.3rem;
}
.msg{
    margin: 2rem 0 2rem 0;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
form button{
    height: 3rem;
    background-color: rgb(13, 133, 252);
    color: white;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;

}